@import "values";

.characters {
  background-color: tan;
  @include flex(space-between, center);
  h1 {
    color: #ddd;
    &:hover {
      @extend %center;
    }
  }
  h2 {
    background-color: $brown1;
  }
  h3 {
    color: $brown1;
  }
}

.middle-earth {
  background-color: silver;
  h1 {
    text-decoration: underline;
    @extend %center;
    margin-bottom: 25px * 4;
  }
  h2 {
    text-decoration: line-through;
    @extend %center;
  }
}
